/* SECTION FOOTER */

footer {
    background: var(--color-bg-footerLight);

    & a {
        color: #fff;
        text-decoration: none;
    }

    & .bg-copyright {
        background-color: var(--color-bg-footerDark);
    }
}
