/* SECTION MAIN */

main {

    & #carouselExampleSlidesOnly {

        & .upload-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 610px;
            width: 100%;
            position: relative;
        }

        .img-1 {
            background-image: url(../assets/img/ba1.jpg);
        }

        .img-2 {
            background-image: url(../assets/img/ba2.jpg);
        }

        .img-3 {
            background-image: url(../assets/img/ba3.jpg );
        }

        .grad-img {
            position: absolute;
            background-color: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
        }

        .op-img {
            opacity: .2;
            filter: alpha(opacity=50);
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 1s;
            -webkit-transition: all 1s;
        }

        .grad-img div {
            bottom: 10rem;
            right: 8rem;
            text-align: end;
        }
    }

    & .form {
        & form {
            & button {
                background: var(--color-btn-enviar);
            }

            & button:hover {
                background-color: var(--color-btn-comprar);
            }
        }
    }
}
