/* VARIABLES DE COLOR */
:root {
    --color-bg-dark: #353a40;
    --color-btn-comprar: #20f415;
    --color-btn-enviar: #96c93e;
    --color-bg-footerLight: #1d3a4a;
    --color-bg-footerDark: rgba(0, 0, 0, 0.2);
}
